@import './base.styl';

$primary = #1baeae

wh($width, $height)
    width $width
    height $height

fj($type=space-between)
    display flex
    justify-content $type
mb()
    margin 0.2rem 0.3rem 0.2rem 0.3rem
    border-radius 0.4rem
mbd()
    margin 0.1rem 0.1rem 0.1rem 0.1rem
    border-radius 0.2rem